.fullNameForm{
    max-width: 500px;
    padding: 20px;
}

mat-card-title{
    margin-bottom: 10px;
    color: var(--primary-color);
}

mat-card-content{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-form-field{
    margin-top: 10px;
}

mat-card-actions, mat-card-actions button{
    width: 100%;
}

.actions{
    margin-top: 15px;
}

.close-modal-button{
    float: right;
}