:host{
    max-width: 500px;
    width: 100%;
}

.loginForm{
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 35vh;
}

mat-card-title{
    margin-bottom: 10px;
    color: var(--primary-color);
}

mat-card-content{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-form-field{
    margin-top: 10px;
}

mat-card-actions, mat-card-actions button{
    width: 100%;
}

.loginActions{
    margin-top: 15px;
}