.resetForm{
    max-width: 500px;
    padding: 20px;
    width: 500px;
}

mat-card-title{
    margin-bottom: 10px;
    color: var(--primary-color);
}

mat-card-content{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-form-field{
    margin-top: 10px;
}

mat-card-actions{
    width: 100%;
    display: flex;
    justify-content: center;
}
mat-card-actions button{
    width: 45%;
}
.resetActions{
    margin-top: 15px;
}