<mat-card class="resetForm" fxFlex fxLayout="column" fxLayoutAlign="center center">

    <mat-card-title>Cambio de contraseña</mat-card-title>
    <mat-divider inset></mat-divider>
    
    <mat-card-content>
 
        <div fxLayout="column" [formGroup]="resetFormGroup">
               
            <mat-form-field appearance="fill">
              <mat-label>Antigua Contraseña</mat-label>
              <input
               matInput
               type="text" 
               [type]="hidePassword ? 'password' : 'text'" 
               formControlName="password"
               required
               >
               <mat-error *ngIf="resetFormGroup.controls['password'].hasError('required')">
               La contraseña no puede estar vacía.
               </mat-error>
              <button mat-icon-button matSuffix (mousedown)="hidePassword = !hidePassword" (mouseup)="hidePassword = !hidePassword"
                title="Mantén pulsado para mostrar la contraseña">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Nueva Contraseña</mat-label>
              <input
              matInput
              [type]="hideNewPassword ? 'password' : 'text'"
              formControlName="newPassword" 
              required
              minlength="8"
              maxlength="64"
              >
              <mat-error *ngIf="resetFormGroup.controls['newPassword'].invalid">{{getPasswordErrorMessage()}}</mat-error>
              <button mat-icon-button matSuffix (click)="generatePassword()" title="Generar contraseña">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                title="{{hideNewPassword ? 'Mostrar' : 'Ocultar'}} contraseña">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              </mat-form-field>

              <app-password-meter
              [passwordToCheck]="resetFormGroup.value.newPassword"
              ></app-password-meter>
        </div>
    </mat-card-content>

    <mat-divider inset></mat-divider>
    <mat-card-actions mat-dialog-actions fxLayout="row">
        <button mat-raised-button color="primary" (click)="onAction()">Cambiar</button>
        <button  mat-raised-button color="warn" [mat-dialog-close]="true" (click)="onClose()">Cancelar</button>
    </mat-card-actions>
</mat-card>
